body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.app-bar {
    background-color: #A4C639;
    color: white;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
}

.button, .upload-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px;
    background: #f0f0f0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
}

.button:hover, .upload-button:hover {
    background: #ddd;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }
    .app-bar {
        background-color: #1E1E1E;
    }
    .button, .upload-button {
        background-color: #333;
        color: white;
    }
}
